:root{
  --accent-color: #8400ff;
  /* Skills percentages */
  --html-percentage: 80%;
  --css-percentage: 80%;
  --bootstrap-percentage: 70%;
  --js-percentage: 50%;
  --jquery-percentage: 50%;
  --php-percentage: 60%;
  --sql-percentage: 60%;
}

body{
  background-color: #202020;
  color: #F8F9F9;
  font-family: 'Quicksand', sans-serif;
}

h2{
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}

/* Navbar */
.navbar-custom{
  background-image: url('../img/background.jpg');
  border-bottom: 1px solid #F8F9F9;
}

.navbar-brand{
  font-weight: 600;
}

#job-name-full, #job-name-compact{
  font-size: 1.05rem;
  font-weight: 400;
}

#job-name-compact{
  display: none;
}

@media(max-width: 430px) {
  #job-name-full{
    display: none;
  }
  #job-name-compact{
    display: inline;
  }
}

@media(max-width: 575px) {
  #navbar-content{
    margin-top: .5rem;
    border-top: 1px solid rgb(255, 255, 255, 40%);
  }
}

#language-icon{
  font-size: 20px;
  vertical-align: middle;
  margin-right: .2rem;
}

/* Infos & Links */
#info-block{
  font-size: 1.1rem;
}

#info-block i{
  margin-right: .6rem;
}

#info-personnal{
  border-bottom: 1px solid var(--accent-color);
}

#info-links a{
  text-decoration: none;
  color: inherit;
}

#info-links a:hover{
  text-decoration: underline;
  color: #81a7ff;
}

/* Skills */
#skill-block i{
  margin-right: .6rem;
}

.skill-name{
  font-weight: bold;
}

#skill-list li{
  margin-bottom: .75rem;
}

.framework-list{
  margin-top: .75rem;
}

#skill-list .progress{
  height: 20px;
  font-size: 1rem;
}

#skill-html{
  list-style-image: url(../img/logos/html5.png);
}

#skill-html .progress-bar{
  background-color: #E44D26;
  width: var(--html-percentage);
}

#skill-css{
  list-style-image: url(../img/logos/css3.png);
}

#skill-css .progress-bar{
  background-color: #1A5AA7;
  width: var(--css-percentage);
}

#skill-bootstrap{
  list-style-image: url(../img/logos/bootstrap.png);
}

#skill-bootstrap .progress-bar{
  background-color: #624A86;
  width: var(--bootstrap-percentage);
}

#skill-js{
  list-style-image: url(../img/logos/js.png);
}

#skill-js .progress-bar{
  background-color: #DEC730;
  width: var(--js-percentage);
}

#skill-jquery{
  list-style-image: url(../img/logos/jquery.png);
}

#skill-jquery .progress-bar{
  background-color: #0769ad;
  width: var(--jquery-percentage);
}

#skill-php{
  list-style-image: url(../img/logos/php.png);
}

#skill-php .progress-bar{
  background-color: #8892be;
  width: var(--php-percentage);
}

#skill-sql{
  list-style-image: url(../img/logos/mysql.png);
}

#skill-sql .progress-bar{
  background-color: #4479a1;
  width: var(--sql-percentage);
}