:root{
  --accent-color: #8400ff;

  /* Skills colors */
  --html-color: #E44D26;
  --css-color: #1A5AA7;
  --bootstrap-color: #614092;
  --js-color: #D4B800;
  --jquery-color: #0769ad;
  --php-color: #8892be;
  --sql-color: #4479a1;
  --windows-color: #1894CE;
  --linux-color: #E5AA34;
  --vscode-color: #1887d1;
  --nano-color: #8518CE;
  --commandline-color: #2b2b2b;
  --git-color: #ea4e44;
  --github-color: #161b22;
  --wamp-color: #CE1885;
  --paintnet-color: #7293c4;
  --pencil-color: #f18d00;

  /* Skills percentages */
  --html-percentage: 80%;
  --css-percentage: 80%;
  --bootstrap-percentage: 70%;
  --js-percentage: 50%;
  --jquery-percentage: 50%;
  --php-percentage: 60%;
  --sql-percentage: 60%;
  --windows-percentage: 80%;
  --linux-percentage: 70%;
  --vscode-percentage: 70%;
  --nano-percentage: 90%;
  --commandline-percentage: 60%;
  --git-percentage: 70%;
  --github-percentage: 70%;
  --wamp-percentage: 50%;
  --paintnet-percentage: 80%;
  --pencil-percentage: 70%;
}

body{
  background-color: #202020;
  color: #F8F9F9;
  font-family: 'Quicksand', sans-serif;
}

#main-row{
  max-width: 2000px;
}

h2{
  border-bottom: 1px solid var(--accent-color);
  text-align: center;
}

.fw-500{
  font-weight: 500;
}

footer{
  border-top: 1px solid rgb(222 226 230 / 36%);
}

/* For xs and sm displays */
@media (max-width: 767px){
  /* Removes the horizontal padding on the container and the row */
  #main-container, #main-row>*{
    padding-left: 0;
    padding-right: 0;
  }

  /* Adds a border-bottom on divs with an ID starting with 'block-' */
  div[id^="block-"]{ 
    border-bottom: 1px solid #dee2e6;
  }

  #block-experience{ 
    border: 0;
  }
}

/* For md and + displays */
@media (min-width: 768px){
  /* Adds a full border on 'block-' divs */
  div[id^="block-"]{ 
    border: 1px solid #dee2e6;
    border-radius: .25rem;
  }
}

/* NAVBAR */
.navbar-custom{
  background-image: url('../img/background.jpg');
  border-bottom: 1px solid #F8F9F9;
}

.navbar-brand{
  font-weight: 600;
}

#job-name-full, #job-name-compact{
  font-size: 1.05rem;
  font-weight: 400;
}

#job-name-compact{
  display: none;
}

@media(max-width: 430px) {
  #job-name-full{
    display: none;
  }
  #job-name-compact{
    display: inline;
  }
}

@media(max-width: 575px) {
  #navbar-content{
    margin-top: .5rem;
    border-top: 1px solid rgb(255, 255, 255, 40%);
  }

  .dropdown-menu-custom{
    border: 0;
    border-left: 2px solid rgb(255, 255, 255, 40%);
    border-radius: 0;
    background-color: transparent;
  }
}

.dropdown-menu-custom .dropdown-item:active{
  background-color: var(--accent-color)!important;
}

#language-icon{
  font-size: 20px;
  vertical-align: middle;
  margin-right: .2rem;
}

/* INFOS AND LINKS */
#block-info{
  font-size: 1.1rem;
}

#block-info i{
  margin-right: .6rem;
}

#info-personnal{
  border-bottom: 1px solid var(--accent-color);
}

#info-links a{
  text-decoration: none;
  color: inherit;
}

#info-links a:hover{
  text-decoration: underline;
  color: #81a7ff;
}

/* TRAINING & EXPERIENCES TIMELINES */
#training-timeline, #experience-timeline{
  border-left: 4px solid #81a7ff;
  line-height: 1.4rem;
  padding: 25px;
  padding-bottom: .25rem;
  list-style: none;
  font-weight: 300;
}

.training-event, .experience-event{
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.training-event:last-of-type, .experience-event:last-of-type{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Date of the event */
.training-event::before, .experience-event::before{
    top: 0;
    left: -145px;
    content: attr(data-date);
    color: rgba(248, 249, 249, 0.8);
    font-size: 0.9rem;
    text-align: right;
    width: 100px;
    position: absolute;
    display: block;
}

@media (max-width: 400px){
  .training-event::before, .experience-event::before{
    left: -130px;
    width: 80px;
  }
}

/* Dot that shows the event on the timeline */
.training-event::after, .experience-event::after{
  top: 5px;
  left: -31.85px;
  content: "";
  background: #313534;
  box-shadow: 0 0 0 4px #81a7ff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  position: absolute;
  display: block;
}

.training-title, .experience-title{
  font-weight: 600;
  font-size: 1.25rem;
}

.training-description, .experience-tools{
  list-style: square;
  margin-top: 1rem;
}

.training-description li, .experience-tools li{
  margin-bottom: .5rem;
}

#link-e2n{
  color: #F8F9F9;
}

#link-e2n:hover{
  color: #E95420;
  opacity: 1;
}

/* HOBBIES */
#hobbies-list i{
  font-size: 2rem;
  vertical-align: middle;
}

#hobbies-list li{
  margin-bottom: .75rem;
}

.hobbies-icon-container{
  min-width: 50px;
  display: inline-block;
  text-align: center;
}

/* SKILLS */
#block-skill i{
  margin-right: .6rem;
}

.skill-name{
  font-weight: 500;
}

.skill-list li{
  margin-bottom: .75rem;
}

.framework-list{
  margin-top: .75rem;
}

.skill-list .progress{
  height: 20px;
  font-size: 1rem;
}

/* Skill list items */
/* -- Computer Languages -- */
#skill-html{
  list-style-image: url(../img/logos/html5.png);
}

#skill-html .progress-bar{
  background-color: var(--html-color);
  width: var(--html-percentage);
}

#skill-css{
  list-style-image: url(../img/logos/css3.png);
}

#skill-css .progress-bar{
  background-color: var(--css-color);
  width: var(--css-percentage);
}

#skill-bootstrap{
  list-style-image: url(../img/logos/bootstrap.png);
}

#skill-bootstrap .progress-bar{
  background-color: var(--bootstrap-color);
  width: var(--bootstrap-percentage);
}

#skill-js{
  list-style-image: url(../img/logos/js.png);
}

#skill-js .progress-bar{
  background-color: var(--js-color);
  width: var(--js-percentage);
}

#skill-jquery{
  list-style-image: url(../img/logos/jquery.png);
}

#skill-jquery .progress-bar{
  background-color: var(--jquery-color);
  width: var(--jquery-percentage);
}

#skill-php{
  list-style-image: url(../img/logos/php.png);
}

#skill-php .progress-bar{
  background-color: var(--php-color);
  width: var(--php-percentage);
}

#skill-sql{
  list-style-image: url(../img/logos/mysql.png);
}

#skill-sql .progress-bar{
  background-color: var(--sql-color);
  width: var(--sql-percentage);
}

/* -- OS -- */
#skill-windows{
  list-style-image: url(../img/logos/windows.png);
}

#skill-windows .progress-bar{
  background-color: var(--windows-color);
  width: var(--windows-percentage);
}

#skill-linux{
  list-style-image: url(../img/logos/linux.png);
}

#skill-linux .progress-bar{
  background-color: var(--linux-color);
  width: var(--linux-percentage);
}

/* -- Tools -- */
#skill-vscode{
  list-style-image: url(../img/logos/vscode.png);
}

#skill-vscode .progress-bar{
  background-color: var(--vscode-color);
  width: var(--vscode-percentage);
}

#skill-nano{
  list-style-image: url(../img/logos/nano.png);
}

#skill-nano .progress-bar{
  background-color: var(--nano-color);
  width: var(--nano-percentage);
}

#skill-commandline{
  list-style-image: url(../img/logos/commandline.png);
}

#skill-commandline .progress-bar{
  background-color: var(--commandline-color);
  width: var(--commandline-percentage);
}

#skill-git{
  list-style-image: url(../img/logos/git.png);
}

#skill-git .progress-bar{
  background-color: var(--git-color);
  width: var(--git-percentage);
}

#skill-github{
  list-style-image: url(../img/logos/github.png);
}

#skill-github .progress-bar{
  background-color: var(--github-color);
  width: var(--github-percentage);
}

#skill-wamp{
  list-style-image: url(../img/logos/wamp.png);
}

#skill-wamp .progress-bar{
  background-color: var(--wamp-color);
  width: var(--wamp-percentage);
}

#skill-paintnet{
  list-style-image: url(../img/logos/paintnet.png);
}

#skill-paintnet .progress-bar{
  background-color: var(--paintnet-color);
  width: var(--paintnet-percentage);
}

#skill-pencil{
  list-style-image: url(../img/logos/pencil.png);
}

#skill-pencil .progress-bar{
  background-color: var(--pencil-color);
  width: var(--pencil-percentage);
}

/* -- Languages -- */
#skill-english{
  list-style-image: url(../img/logos/uk_flag.png);
}